target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.localstack/cache/machine.json
.localstack/cache/server.test.pem
.localstack/cache/server.test.pem.crt
.localstack/cache/server.test.pem.key
.localstack/cache/service-catalog-4_0_2_dev3-1_35_63.pickle
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/aws/5.77.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.77.0/windows_amd64/terraform-provider-aws_v5.77.0_x5.exe
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/aws/5.78.0/windows_amd64/terraform-provider-aws_v5.78.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.78.0/windows_amd64/LICENSE.txt
/target/*
target/classes/application.properties
target/classes/application.properties
target/classes/application.properties
target/classes/application.properties
target/classes/bootstrap.yml
target/classes/application.properties
